@page "/signalRcharts"
<h3>SignalRCharts</h3>

<div class="row">
	<div class="col-md-8 p-4" @onclick="@SendToAcceptChartDataMethod">
		<RadzenChart>
			<RadzenColumnSeries Data="@Data" CategoryProperty="Label" Title="Product Views"
				LineType="LineType.Dashed" ValueProperty="Value" Fill="green" />
			<RadzenColumnOptions Radius="5" />
			<RadzenValueAxis>
				<RadzenGridLines Visible="true" />
				<RadzenAxisTitle Text="Product views" />
			</RadzenValueAxis>
		</RadzenChart>
	</div>
	<div class="col-md-4">
		@if (ExchangedData.Count > 0)
		{
			<table class="table">
				<thead>
					<tr>
						<th>Product</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var product in ExchangedData)
					{
						<tr>
							<td>@product.Label</td>
							<td>@product.Value</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
</div>